---
import Layout from './Layout.astro';
const { title, seo_title, description, image, show_image, date, project } = Astro.props;
const content = { title, seo_title, description, image, show_image, date, project };
---
<Layout title={content.seo_title || content.title} description={content.description} image={content.image}>
    <article>
        <header style="margin-bottom: 3rem;">
            <h1>{content.title}</h1>
            <p style="color: var(--text-light); font-size: 1rem;">
                {content.date && new Date(content.date).toLocaleDateString('ru-RU', {day: 'numeric', month: 'long', year: 'numeric'})}
            </p>
        </header>

        {content.image && content.show_image && <img src={content.image} alt={content.title} />}

        <slot /> </article>
</Layout>
